p{
    text-align: center;
    color: black;
    font-family: cursive;
}
#kis{
    
      float:right;
    
      

}
.changetype{
    font-family: cursive;
    background-color: bisque;
}
.raam{
    background-color: beige;
}

